$black: #000000;
$white: #ffffff;
$offWhite: #fbfbfb;

$lightPurple: #ccccff;
$purple: #b3b3ff;
$darkPurple: #9999ff;

$grey: #808080;
$lightGrey: lighten($grey,10%);
$superLightGrey: lighten($grey,20%);
$darkGrey: darken($grey,10%);
$superDarkGrey: darken($grey,20%);

$shadow-1: 0 0 5px 1px $darkGrey;
$shadow-2: 0 0 3px 0 $superLightGrey;

$layer-1: 999; // layer closest to user
$layer-2: 998;
$layer-3: 997;
$layer-4: 996;
$layer-5: 995; // layer furthest from user