body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}

.fa-external-link-alt {
  color: blue;
  float: right;
}

.fas-white {
  color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  color: blue;
  text-decoration: underline;
}

i {
  color: #000000;
}

button, a, i, [type=submit] {
  cursor: pointer;
}

.linebreak {
  height: 1px;
  width: 100%;
  background: #808080;
  margin: 1em 0;
}

.logo {
  width: 4em;
  height: 4em;
}

.title {
  text-align: center;
  margin: 0.5em 0;
}

.key {
  margin-top: 0.25em;
  font-variant: small-caps;
  color: #808080;
}
.key.key-sm {
  font-size: 0.8em;
}
.key.header {
  position: absolute;
  top: 0;
  left: 0;
}

.value {
  margin: 0.25em 0.25em 1em;
}

.clickable {
  cursor: pointer;
}

.enabled {
  cursor: pointer;
  color: #000000;
}

.disabled {
  cursor: default;
  color: #acacac;
}

.error {
  color: red;
  margin: 0;
}

.note {
  margin: 0.1em;
  font-size: 0.8em;
}

.error-highlight {
  border: 1px solid red;
}

#toolbar {
  background: #ffffff;
  border-bottom: 1px solid #000000;
  box-shadow: 0 0 5px 1px #4d4d4d;
  width: 100vw;
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  top: 0;
  left: 0;
  z-index: 998;
}
#toolbar .toolgroup {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#toolbar .toolgroup:not(:first-of-type) {
  border-left: 1px solid #000000;
}
#toolbar .toolgroup.toolgroup-row {
  flex-flow: row nowrap;
}
#toolbar .toolgroup.toolgroup-download {
  cursor: pointer;
}
#toolbar .toolgroup.toolgroup-download p {
  margin: 0;
}
#toolbar .toolgroup .toolgroup-info {
  height: calc(100% - 0.4em);
  padding: 0.2em;
}
#toolbar .toolgroup .toolgroup-info:first-of-type {
  border-left: 1px solid #000000;
}
#toolbar .toolgroup .toolgroup-info:not(:first-of-type) {
  border-left: 1px solid #9a9a9a;
}
#toolbar .toolgroup .toolgroup-info:last-of-type {
  border-right: 1px solid #000000;
}

#active-node {
  padding: 0.3em;
  background: #ffffff;
  z-index: 996;
  min-width: 250px;
  max-width: 25vw;
  border: 1px solid #9a9a9a;
  box-shadow: 0 0 5px 1px #4d4d4d;
  position: absolute;
  top: 20vh;
  right: 5vw;
}

.modal {
  align-self: center;
  margin: 6em auto;
  padding: 3em 1em;
  background: #ffffff;
  width: 20vw;
  box-shadow: 0 0 1em 0 #000000;
  border-radius: 0.25em;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  max-height: calc(90vh - 6em);
}
.modal.form input[type=text] {
  padding: 0.3em;
  border-top: none;
  border-right: none;
  border-left: none;
}

.modal-close {
  padding: 0;
  position: absolute;
  top: 0.25em;
  right: 0.25em;
  cursor: pointer;
}

.curtain {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(225, 225, 225, 0.7);
  z-index: 997;
  display: flex;
  justify-content: center;
}

.form {
  position: relative;
  display: flex;
  flex-flow: column;
  z-index: 999;
  margin-top: 5em;
  background: #ffffff;
}
.form label {
  margin: 0.75em 0 0.25em;
  font-weight: 500;
}
.form select {
  align-self: flex-start;
}
.form textarea {
  min-height: 80px;
}
.form .flex-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}
.form .sm {
  width: 4em;
}
.form .xs {
  width: 2em;
}

.submit-row {
  padding: 0;
  margin-top: 3em;
  width: 100%;
  background: #ffffff;
  bottom: 0;
  left: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.submit-row .button-choice {
  background: #dddddd;
  font-size: 100%;
  font-family: inherit;
}
.submit-row .button-choice:hover {
  background: #5e5e5e;
}
.submit-row .button-choice:active {
  background: #c4c4c4;
}
.submit-row .positive {
  background: #9999ff;
}
.submit-row .positive:hover {
  background: #8080ff;
}
.submit-row .positive:active {
  background: #6666ff;
}

.fieldset {
  border: none;
  width: calc(100% - 0.5em);
  margin: 0;
  padding: 0.25em;
  display: flex;
  flex-direction: column;
}

.tabs-container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.tabs-container .tab {
  flex: 1;
  text-align: center;
  border: 1px solid #000000;
  background: #fafafa;
  padding: 6px 20px 3px 20px;
  width: auto;
  box-shadow: none;
  font-size: 0.9em;
  text-decoration: none;
}
.tabs-container .tab.active {
  background: #dddddd;
  font-size: 1em;
  box-shadow: 2px 4px 10px 0 #404040;
}

.main {
  position: absolute;
  background: #f6f6f6;
  top: 0;
  left: 0;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.link {
  fill: none;
}

.node {
  cursor: pointer;
}

.axis path {
  display: none;
}
.axis line {
  stroke-opacity: 0.3;
  shape-rendering: crispEdges;
}

.button {
  height: 2em;
  min-width: 5em;
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;
  border-radius: 0.2em;
  background: blue;
  color: #ffffff;
  font-family: inherit;
  font-size: 0.9em;
  margin: 0.5em;
}
.button :active {
  box-shadow: none;
}
.button .positive {
  background: forestgreen;
  color: #ffffff;
}
.button .negative {
  background: red;
  color: #ffffff;
}
.button .disabled {
  background: #9a9a9a;
  color: #808080;
}
.button.centered {
  margin: 0.5em auto;
}
.button:hover {
  background: #3333ff;
}
.button:active {
  background: #6666ff;
}

.buttons-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  padding: 0;
  margin: 0;
}
.buttons-container .button {
  margin: 2em auto 0;
}

/*# sourceMappingURL=style.css.map */
