body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}

.fa-external-link-alt {
  color: blue;
  float: right;
}

.fas-white {
  color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  color: blue;
  text-decoration: underline;
}

i {
  color: #000000;
}

button, a, i, [type=submit] {
  cursor: pointer;
}

.linebreak {
  height: 1px;
  width: 100%;
  background: #808080;
  margin: 1em 0;
}
.linebreak.vertical {
  height: inherit;
  width: 1px;
  margin: 0 1em;
}
.linebreak.no-margin {
  margin: 0;
}

.logo {
  padding: 0 0.75em;
  height: 4em;
}

.title {
  text-align: center;
  margin: 0.5em 0;
}

.key {
  font-variant: small-caps;
  color: #808080;
  margin: 0;
}
.key.key-sm {
  font-size: 0.8em;
}
.key.header {
  position: absolute;
  top: 0;
  left: 0;
}

.value {
  margin: 0 0 0.5em 0.5em;
}

.clickable {
  cursor: pointer;
}

.enabled {
  cursor: pointer;
  color: #000000;
}

.disabled {
  cursor: default;
  color: #acacac;
}

.error {
  color: red;
  margin: 0;
}

.note {
  margin: 0.1em;
  font-size: 0.8em;
}

.error-highlight {
  border: 1px solid red;
}

#toolbar {
  border-bottom: 0.5px solid #b3b3b3;
  width: 100vw;
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 998;
}
#toolbar .toolgroup {
  position: relative;
  display: flex;
}
#toolbar .toolgroup .ldd-details {
  padding: 0.2em;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  display: flex;
  flex-direction: column;
}
#toolbar .toolgroup .ldd-details .ldd-details-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#toolbar .toolgroup .ldd-details .ldd-details-body {
  display: flex;
  flex-flow: row nowrap;
}

#active-node {
  padding: 0.3em;
  background: #ffffff;
  z-index: 996;
  border: 1px solid #9a9a9a;
  box-shadow: 0 0 5px 1px #676767;
  position: absolute;
  top: 10em;
  max-height: calc(100vh - 10em - 2em);
  right: 3em;
  min-width: 350px;
  max-width: 25vw;
}

.child-row {
  border: 1px solid #b3b3b3;
  padding: 0.3em;
  box-shadow: 0 0 3px 0 #b3b3b3;
}

.info-container {
  border-top: 1px solid #676767;
  overflow-y: scroll;
}

.modal {
  align-self: center;
  margin: 6em auto;
  padding: 3em 1em;
  background: #ffffff;
  width: 20vw;
  box-shadow: 0 0 1em 0 #000000;
  border-radius: 0.25em;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  max-height: calc(90vh - 6em);
}

.modal-close {
  padding: 0;
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  opacity: 0.7;
  cursor: pointer;
}

.curtain {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(225, 225, 225, 0.7);
  z-index: 997;
  display: flex;
  justify-content: center;
}

.form {
  position: absolute;
  top: 9em;
  margin: 0 auto;
  padding: 0 1em;
  max-height: calc(100vh - 6em - 6em);
  overflow-y: scroll;
  border: 1px solid #9a9a9a;
  box-shadow: 0 0 5px 1px #676767;
  background: #fbfbfb;
}

input, select, textarea {
  background: #ffffff !important;
}
input[disabled], select[disabled], textarea[disabled] {
  background: #e6e6e6 !important;
}

.flex-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}
.flex-row.left {
  justify-content: flex-start;
}
.flex-row.wrap {
  flex-wrap: wrap;
}

.flex-col {
  display: flex;
  flex-flow: column wrap;
  align-items: space-around;
  justify-content: center;
}

.sm {
  width: 6em !important;
}

.xs {
  width: 4em !important;
}

.permissible-values {
  display: flex;
  justify-content: row nowrap;
  align-items: center;
}
.permissible-values .inputs input:nth-child(2n-1) {
  margin-bottom: 0.5em;
}
.permissible-values .inputs input:nth-child(2n) {
  margin-bottom: 1.5em;
}

.tabs-container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.tabs-container .tab {
  flex: 1;
  text-align: center;
  border: 1px solid #000000;
  background: #fafafa;
  padding: 6px 20px 3px 20px;
  width: auto;
  box-shadow: none;
  font-size: 0.9em;
  text-decoration: none;
}
.tabs-container .tab.active {
  background: #dddddd;
  font-size: 1em;
  box-shadow: 2px 4px 10px 0 #404040;
}

.main {
  position: absolute;
  background: #f6f6f6;
  top: 121px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 121px);
  margin: 0;
  padding: 0;
}

.link {
  fill: none;
}

.node {
  cursor: pointer;
}

.axis path {
  display: none;
}
.axis line {
  stroke-opacity: 0.3;
  shape-rendering: crispEdges;
}

.graph-buttons {
  position: absolute;
  bottom: 3em;
  left: 3em;
  height: 10em;
  width: 10em;
  background: #ffffff;
  z-index: 998;
  border: 1px solid #808080;
  box-shadow: 0 0 5px 1px #676767;
}

.button {
  cursor: pointer;
  font-family: inherit;
  font-size: 0.8em;
  margin: 0.5em;
}
.button.right {
  float: right;
}

.disabled {
  color: #808080 !important;
  cursor: default !important;
}

.buttons-container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  height: auto;
}

.rules {
  padding: 1.5em 1em 0.5em;
  display: flex;
  flex-direction: row wrap;
}
.rules .rule-list {
  padding: 1em;
}

.rules-menu {
  background: white;
}

.active-rule {
  font-weight: 900;
}

/*# sourceMappingURL=style.css.map */
