<!-- Active Node Details -->
<h2>Edit Element</h2>

<form name="editnodeform" id="editnodeform">
    <label for="name-editnode">
        Name
        <input type="text" class="value" id="name-editnode" disabled>
    </label>

    <label for="identifier_reference-editnode">
        Identifier Reference
        <input type="text" class="value" id="identifier_reference-editnode" disabled>
    </label>

    <label for="version_id-editnode">
        Version
        <input type="text" class="value" id="version_id-editnode">
    </label>

    <label for="definition-editnode">
        Definition
        <textarea class="value" id="definition-editnode"></textarea>
    </label>

    <label for="submitter_name-editnode">
        Submitter Name
        <input type="text" class="value" id="submitter_name-editnode">
    </label>

</form>

<input name="submit" id="editnode-cancel" type="submit" value="Cancel" class="decline">
<input name="submit" id="editnode-save" type="submit" value="Save" class="confirm">