<div id="tools">
    <div class="toolgroup">
        <i class="fas fa-plus fa-lg disabled" id="create-node" title="Create a new node [disabled]"></i>
        <i class="fas fa-link disabled" id="create-link" title="Create a new link [disabled]"></i>
    </div>
    <div class="toolgroup">
        <i class="fas fa-pencil-alt enabled" id="editldd" title="Edit LDD"></i>
        <i class="far fa-arrow-alt-circle-down fa-lg enabled" id="download" title="Download Current Ingest_LDD File"></i>
        <i class="fas fa-undo-alt fa-lg enabled" id="startover" title="Start Over"></i>
    </div>
</div>