#active-node {
    padding: 0.3em;
    background: $white;
    z-index: $layer-4;
    @include border-mixin($lightGrey);
    box-shadow: $shadow-1;
    position: absolute;
    top: 10em;
    max-height: calc(100vh - 10em - 2em);
    right: 3em;
    min-width: 350px;
    max-width: 25vw;
}
.child-row {
    @include border-mixin($superLightGrey);
    padding: 0.3em;
    box-shadow: $shadow-2;
}
.info-container {
    border-top: 1px solid $darkGrey;
    overflow-y: scroll;
}