#active-node {
    padding: 0.3em;
    background: $white;
    z-index: $layer-4;
    min-width: 250px;
    max-width: 25vw;
    @include border-mixin($lightGrey);
    box-shadow: $shadow-1;
    position: absolute;
    top: 20vh;
    right: 5vw;
    overflow-y: scroll;
}
.child-row {
    @include border-mixin($superLightGrey);
    padding: 0.3em;
    box-shadow: $shadow-2;
}
