.button {
    cursor: pointer;
    font-family: inherit;
    font-size: 0.8em;
    margin: 0.5em;
}
.disabled {
    color: $grey !important;
    border-color: $grey !important;
    cursor: default !important;
}
.buttons-container {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    height: auto;
}