.main {
    position: absolute;
    background: #f6f6f6;
    top: 0;
    left: 0;
    width: 100vw;
    margin: 0;
    padding: 0;
}
.link {
    fill: none;
}
.node {
    cursor: pointer;
}
.axis {
    path {
        display: none;
    }
    line {
        stroke-opacity: 0.3;
        shape-rendering: crispEdges;
    }
}