.main {
    position: absolute;
    background: #f6f6f6;
    top: 0;
    left: 0;
    width: 100vw;
    margin: 0;
    padding: 0;
}
.link {
    fill: none;
}
.node {
    cursor: pointer;
}
.axis {
    path {
        display: none;
    }
    line {
        stroke-opacity: 0.3;
        shape-rendering: crispEdges;
    }
}
.graph-buttons {
    position: absolute;
    bottom: 3em;
    left: 3em;
    height: 10em;
    width: 10em;
    background: $white;
    z-index: $layer-2;
    @include border-mixin($grey);
    box-shadow: $shadow-1;
}