.tabs-container {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    .tab {
        flex: 1;
        text-align: center;
        @include border-mixin($black);
        background: #fafafa;
        padding: 6px 20px 3px 20px;
        width: auto;
        box-shadow: none;
        font-size: 0.9em;
        text-decoration: none;

        &.active {
            background: #dddddd;
            font-size: 1em;
            box-shadow: 2px 4px 10px 0 #404040;
        }
    }
}