<label ng-hide="data.newLddMode" for="maximum_occurrences">Maximum Occurrences <ld3-core-model-link lid="https://pds.jpl.nasa.gov/datastandards/documents/im/v1/index_1A00.html#attribute_pds_dd_association_pds_maximum_occurrences"></ld3-core-model-link></label>
<p ng-hide="data.newLddMode" class="error" ng-show="error">{{ error }}</p>
<div class="flex-row left">
    <input ng-hide="data.newLddMode || unboundedCheckboxValue" type="number" class="xs" name="maximum_occurrences" id="maximum_occurrences" ng-model="pds4Keyword">
    <input ng-hide="data.newLddMode || !unboundedCheckboxValue" value="" disabled type="number" class="xs">
    
    <div class="flex-row">
        <input type="checkbox" ng-model="unboundedCheckboxValue" name="unbounded" id="unbounded" style="margin-left:2em;">
        <label for="unbounded">Unbounded</label>
    </div>
</div>
