<label for="">Permissible Values <ld3-core-model-link lid="https://pds.nasa.gov/datastandards/documents/im/v1/index_1A00.html#class_pds_dd_permissible_value"></ld3-core-model-link></label>
<p class="error" ng-show="error">{{ error }}</p>

<div class="permissible-values" ng-repeat="line in permissibleValues track by $index">
    <div class="inputs">
        <input type="text" name="value" id="value" ng-model="line.value" placeholder="Value">
        <input type="text" name="value_meaning" id="value_meaning" ng-model="line.value_meaning" placeholder="Value Meaning">
    </div>
    <div class="icon">
        <button class="button button-outline" ng-click="removeLine($index)">Remove</button>
    </div>
</div>

<button class="button centered button-clear" ng-click="addLine()">Add Another Permissible Value</button>