<label for="unit_of_measure_type">Unit Type <ld3-core-model-link lid="https://pds.jpl.nasa.gov/datastandards/documents/im/v1/index_1A00.html#attribute_pds_dd_value_domain_pds_unit_of_measure_type"></ld3-core-model-link></label>
<p class="error" ng-show="error">{{ error }}</p>
<select name="unit_of_measure_type" id="unit_of_measure_type" ng-model="pds4Keyword">
    <option value="Units_of_Acceleration">Acceleration</option>
    <option value="Units_of_Amount_Of_Substance">Amount_Of_Substance</option>
    <option value="Units_of_Angle">Angle</option>
    <option value="Units_of_Angular_Velocity">Angular_Velocity</option>
    <option value="Units_of_Area">Area</option>
    <option value="Units_of_Current">Current</option>
    <option value="Units_of_Energy">Energy</option>
    <option value="Units_of_Frame_Rate">Frame_Rate</option>
    <option value="Units_of_Frequency">Frequency</option>
    <option value="Units_of_Length">Length</option>
    <option value="Units_of_Map_Scale">Map_Scale</option>
    <option value="Units_of_Mass">Mass</option>
    <option value="Units_of_Misc">Misc</option>
    <option value="Units_of_None" default>None</option>
    <option value="Units_of_Optical_Path_Length">Optical_Path_Length</option>
    <option value="Units_of_Pixel_Resolution_Angular">Pixel_Resolution_Angular</option>
    <option value="Units_of_Pixel_Resolution_Linear">Pixel_Resolution_Linear</option>
    <option value="Units_of_Pixel_Scale_Angular">Pixel_Scale_Angular</option>
    <option value="Units_of_Pixel_Scale_Linear">Pixel_Scale_Linear</option>
    <option value="Units_of_Pressure">Pressure</option>
    <option value="Units_of_Radiance">Radiance</option>
    <option value="Units_of_Rates">Rates</option>
    <option value="Units_of_Solid_Angle">Solid_Angle</option>
    <option value="Units_of_Spectral_Irradiance">Spectral_Irradiance</option>
    <option value="Units_of_Spectral_Radiance">Spectral_Radiance</option>
    <option value="Units_of_Storage">Storage</option>
    <option value="Units_of_Temperature">Temperature</option>
    <option value="Units_of_Time">Time</option>
    <option value="Units_of_Velocity">Velocity</option>
    <option value="Units_of_Voltage">Voltage</option>
    <option value="Units_of_Volume">Volume</option>
    <option value="Units_of_Wavenumber">Wavenumber</option>
</select>