<label for="value_data_type">Data Type <ld3-core-model-link lid="https://pds.jpl.nasa.gov/datastandards/documents/im/v1/index_1A00.html#attribute_pds_dd_value_domain_pds_value_data_type"></ld3-core-model-link></label>
<p class="error" ng-show="error">{{ error }}</p>
<select name="value_data_type" id="value_data_type" ng-model="pds4Keyword">
    <option value="ASCII_AnyURI">ASCII_AnyURI</option>
    <option value="ASCII_Boolean">ASCII_Boolean</option>
    <option value="ASCII_DOI">ASCII_DOI</option>
    <option value="ASCII_Date_DOY">ASCII_Date_DOY</option>
    <option value="ASCII_Date_Time_DOY">ASCII_Date_Time_DOY</option>
    <option value="ASCII_Date_Time_DOY_UTC">ASCII_Date_Time_DOY_UTC</option>
    <option value="ASCII_Date_Time_YMD">ASCII_Date_Time_YMD</option>
    <option value="ASCII_Date_Time_YMD_UTC">ASCII_Date_Time_YMD_UTC</option>
    <option value="ASCII_Date_YMD">ASCII_Date_YMD</option>
    <option value="ASCII_Directory_Path_Name">ASCII_Directory_Path_Name</option>
    <option value="ASCII_File_Name">ASCII_File_Name</option>
    <option value="ASCII_File_Specification_Name">ASCII_File_Specification_Name</option>
    <option value="ASCII_Integer">ASCII_Integer</option>
    <option value="ASCII_LID">ASCII_LID</option>
    <option value="ASCII_LIDVID">ASCII_LIDVID</option>
    <option value="ASCII_LIDVID_LID">ASCII_LIDVID_LID</option>
    <option value="ASCII_MD5_Checksum">ASCII_MD5_Checksum</option>
    <option value="ASCII_NonNegative_Integer">ASCII_NonNegative_Integer</option>
    <option value="ASCII_Numeric_Base16">ASCII_Numeric_Base16</option>
    <option value="ASCII_Numeric_Base2">ASCII_Numeric_Base2</option>
    <option value="ASCII_Numeric_Base8">ASCII_Numeric_Base8</option>
    <option value="ASCII_Real" default>ASCII_Real</option>
    <option value="ASCII_Short_String_Collapsed">ASCII_Short_String_Collapsed</option>
    <option value="ASCII_Short_String_Preserved">ASCII_Short_String_Preserved</option>
    <option value="ASCII_Time">ASCII_Time</option>
    <option value="ASCII_VID">ASCII_VID</option>
    <option value="UTF8_Short_String_Collapsed">UTF8_Short_String_Collapsed</option>
    <option value="UTF8_Short_String_Preserved">UTF8_Short_String_Preserved</option>
    <option value="UTF8_Text_Preserved">UTF8_Text_Preserved</option>
    <option value="Vector_Cartesian_3">Vector_Cartesian_3</option>
    <option value="Vector_Cartesian_3_Acceleration">Vector_Cartesian_3_Acceleration</option>
    <option value="Vector_Cartesian_3_Pointing">Vector_Cartesian_3_Pointing</option>
    <option value="Vector_Cartesian_3_Position">Vector_Cartesian_3_Position</option>
    <option value="Vector_Cartesian_3_Velocity">Vector_Cartesian_3_Velocity</option>
</select>