<form>

    <h3 class="title" ng-show="!data.newLddMode">Add New Class</h3>
    <h3 class="title" ng-show="data.newLddMode">Define Root Element</h3>

    <fieldset>

        <pds4-class-name
            pds4-keyword="newNode.name"
            error="errors.name"
        ></pds4-class-name>

        <pds4-namespace
            pds4-keyword="newNode.namespace_id"
            error="errors.namespace_id"
        ></pds4-namespace>

        <pds4-version
            pds4-keyword="newNode.version_id"
            error="errors.version_id"
        ></pds4-version>

        <pds4-submitter-name
            pds4-keyword="newNode.submitter_name"
            error="errors.submitter_name"
        ></pds4-submitter-name>

        <pds4-definition
            pds4-keyword="newNode.definition"
            error="errors.definition"
        ></pds4-definition>

        <pds4-min-occ
            pds4-keyword="newNode.minimum_occurrences"
            error="errors.minimum_occurrences"
        ></pds4-min-occ>

        <pds4-max-occ
            pds4-keyword="newNode.maximum_occurrences"
            error="errors.maximum_occurrences"
        ></pds4-max-occ>

        <button class="button button-outline" ng-click="modal.hide()" ng-hide="data.newLddMode">Cancel</button>
        <button class="button" ng-click="form.addClass()">Save Class</button>

    </fieldset>

</form>
