<form>

    <h3 class="title">Add Link</h3>
    
    <h4>{{ data.activeNode.name[0] }}</h4>

    <p>Choose an element from the list below to complete adding a new link.</p>

    <fieldset class="flex-row wrap">
        <button class="button" ng-repeat="element in links.elements" ng-click="links.addLink(element.lid)" ng-class="{'button-outline':element.className === 'attribute'}">{{ element.name[0] }}</button>
    </fieldset>

    <div class="linebreak"></div>

    <button class="button button-outline" ng-click="modal.hide()">Cancel</button>
    <button class="button" ng-click="modifyAttribute()">Save</button>

</form>
