<!-- Active Node Details -->

<div class="details-header">
    <a id="toggle-node-details">Hide Details</a>
    <a id="editnode">Edit Details</a>
</div>

<h4 class="key">Name</h4>
<h4 class="value" id="name-node"></h4>

<div class="node-details">
    <h4 class="key">Identifier Reference</h4>
    <h4 class="value" id="identifier_reference-node"></h4>
    
    <h4 class="key">Version</h4>
    <h4 class="value" id="version_id-node"></h4>
    
    <h4 class="key">Definition</h4>
    <h4 class="value" id="definition-node"></h4>
    
    <h4 class="key">Submitter Name</h4>
    <h4 class="value" id="submitter_name-node"></h4>
</div>