<ld3-toolbar></ld3-toolbar>
<ld3-modal></ld3-modal>

<div class="curtain error">
    
    <div class="modal">
        
        <p>Sorry, something went wrong when loading the file.</p>
        
        <div class="linebreak"></div>
        
        <a href="/" class="button">Try Again</a>
        
        <div class="linebreak"></div>
        
        <p>If the issue persists after reloading the file, <a href="mailto:ckingston@psi.edu">contact support (ckingston@psi.edu)</a>.</p>
        
    </div>
    
</div>