<ld3-toolbar dictionary="ldd.original"></ld3-toolbar>

<div class="curtain" ng-show="modal.isVisible">

    <!-- add Class element -->
    <ld3-form-add-class     ng-show="modal.type === 'addClass'    " class="form"></ld3-form-add-class>
    <!-- add Attribute element -->
    <ld3-form-add-attribute ng-show="modal.type === 'addAttribute'" class="form"></ld3-form-add-attribute>
    
    
    <!-- editNode -->
    <!-- <ld3-edit-node-form ng-show="modal.type == 'editNode'"></ld3-edit-node-form> -->

    <!-- editLdd -->
    <!-- <ld3-edit-ldd-form ng-show="modal.type == 'editLdd'"></ld3-edit-ldd-form> -->

</div>

<ld3-active-node
    id="active-node"
    active-node="data.activeNode"
    show-modal="ld3.openAddNodeModal"
    link-mode="ld3.linkMode"
    toggle-link-mode="ld3.toggleLinkMode"
    ng-show="data.activeNode">
 </ld3-active-node>

<svg class="main"></svg>