<ld3-toolbar
    dictionary="ldd.original"
    download-ldd="ld3.download"
    undo="ld3.undo"
    redo="ld3.redo"
    modal="modal"
    set-error="errorHandler.set"
></ld3-toolbar>

<div class="curtain" ng-show="modal.isVisible">

    <!-- ERROR HANDLER modal -->
    <ld3-error-modal class="form" ng-show="modal.type === 'error'"></ld3-error-modal>

    <!-- add Class element -->
    <ld3-form-add-class     ng-show="modal.type === 'addClass'    " class="form"></ld3-form-add-class>
    <!-- add Attribute element -->
    <ld3-form-add-attribute ng-show="modal.type === 'addAttribute'" class="form"></ld3-form-add-attribute>
    
    <!-- modify LDD Details -->
    <ld3-form-modify-ldd-details ng-show="modal.type == 'editLdd'" class="form" ldd-details="ldd.edit" save-ldd="ld3.saveLdd" modal="modal"></ld3-form-modify-ldd-details>
    
    <!-- modify class -->
    <ld3-form-modify-class ng-show="modal.type == 'modifyClass'" class="form" modal="modal"></ld3-form-modify-class>
    <!-- modify attribute -->
    <ld3-form-modify-attribute ng-show="modal.type == 'modifyAttribute'" class="form" modal="modal"></ld3-form-modify-attribute>
    
    <!-- add link -->
    <ld3-form-add-link ng-show="modal.type == 'addLink'" class="form" modal="modal"></ld3-form-add-link>
    <!-- remove link -->
    <ld3-form-remove-link ng-show="modal.type == 'removeLink'" class="form" modal="modal"></ld3-form-remove-link>
    
    <!-- modify LDD Schematron Rules -->
    <ld3-form-rules ng-show="modal.type == 'lddRules'" class="form" modal="modal"></ld3-form-rules>
</div>

<ld3-active-node
    id="active-node"
    active-node="data.activeNode"
    modal="modal"
    show-modal="ld3.openAddNodeModal"
    toggle-link-modal="ld3.toggleLinkModal"
    ng-show="data.activeNode">
 </ld3-active-node>

<svg class="main"></svg>