body {
    margin: 0;
    padding: 0 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

main {
    display: flex;
    flex-flow: column nowrap;
}

header {
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
}

h1, h2, h3, h4 {
    font-weight: 600;
}

p {
    margin: 0 1em;
}

form {
    margin: 1em;
    padding: 1em 0;
    max-width: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f6f6f6;
}

.buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.button-group {
    margin: 0.5em;
    width: 300px;
}

.button-group p {
    margin: 0;
    padding: 0.5em;
}

hr {
    width: 500px;
}

@media (max-width: 950px) {
    header {
        padding-left: 1em;
        padding-right: 1em;
    }
    #github-corner {
        height: 50px;
        width: auto;
    }
}

#inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.file-picker {
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    color: #d3394c;
}

.file-picker svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

#inputfile:focus+.file-picker,
#inputfile.has-focus+.file-picker,
.file-picker:hover {
    color: #722040;
}

.buttons input {
    font-size: 1rem;
    color: #f1e5e6;
    padding: 0.5em 1.5em;
    background: #d3394c;
    border: 0 none;
    cursor: pointer;
    width: 100%;
}

.buttons input:hover:not(:disabled) {
    background: #722040;
}

.buttons input:disabled {
    opacity: 0.5;
    cursor: unset;
}

.sk-cube-grid {
    display: none;
    width: 40px;
    height: 40px;
    margin: 100px auto;
}

.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #d3394c;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

/* GitHub Ribbon */
.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
    0%, 100% {
        transform: rotate(0)
    }

    20%, 60% {
        transform: rotate(-25deg)
    }

    40%, 80% {
        transform: rotate(10deg)
    }
}

@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}