body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4 {
    font-weight: 600;
}

form {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    margin: 3em;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}

hr {
    width: 500px;
}

@media (max-width: 500px) {
    hr, form {
        width: 90%
    }
}

#inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.file-picker {
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    color: #d3394c;
}

.file-picker svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

#inputfile:focus + .file-picker,
#inputfile.has-focus + .file-picker,
.file-picker:hover {
    color: #722040;
}

.buttons input {
    font-size: 1rem;
    color: #f1e5e6;
    padding:0.5em 1.5em; 
    background:#d3394c; 
    border:0 none;
    cursor:pointer;
}

.buttons input:hover:not(:disabled) {
    background: #722040;
}

.buttons input:disabled {
    opacity: 0.5;
    cursor: unset;
}