<!-- Active Node Details -->

<div class="details-header">
    <a
        ng-show="ld3.isVisible.activeNodeDetails"
        ng-click="ld3.isVisible.activeNodeDetails = !ld3.isVisible.activeNodeDetails">
        Hide Details</a>
    <a
        ng-show="!ld3.isVisible.activeNodeDetails"
        ng-click="ld3.isVisible.activeNodeDetails = !ld3.isVisible.activeNodeDetails">
        Show Details</a>
    <a ng-click="ld3.editNode()">Edit Details</a>
</div>

<h4 class="key">Name</h4>
<h4 class="value">{{ data.activeNode.name[0] }}</h4>

<div ng-show="ld3.isVisible.activeNodeDetails">
    <h4 class="key">Identifier Reference</h4>
    <h4 class="value">{{ data.activeNode.lid }}</h4>

    <h4 class="key">Version</h4>
    <h4 class="value">{{ data.activeNode.version_id[0] }}</h4>

    <h4 class="key">Definition</h4>
    <h4 class="value">{{ data.activeNode.definition[0] }}</h4>

    <h4 class="key">Submitter Name</h4>
    <h4 class="value">{{ data.activeNode.submitter_name[0] }}</h4>
</div>
