<div class="create-node-form-container">
    
    <i class="far fa-lg fa-times-circle modal-close" onclick="closeModal()"></i>
    
    <h2>Create New Node</h2>
    
    <form id="create-new-node" name="create-new-node">

        <label for="identifier_reference">identifier_reference<input type="text" name="identifier_reference" id="identifier_reference" autofocus></label>

        <label for="reference_type">reference_type<select name="reference_type" id="reference_type"><option value="component_of">component_of</option><option value="attribute_of">attribute_of</option></select></label>

        <label for="minimum_occurrences">minimum_occurrences<input type="text" name="minimum_occurrences" id="minimum_occurrences"></label>

        <label for="maximum_occurrences">maximum_occurrences<input type="text" name="maximum_occurrences" id="maximum_occurrences"></label>

    </form>
    
    <button class="button" id="cancel">Cancel</button>
    <button class="button" id="next">Next</button>
</div>
