<div class="create-node-form-container">
    
    <i class="far fa-lg fa-times-circle modal-close" onclick="closeModal()"></i>
    
    <h2>Create New Node</h2>
    
    <form id="create-new-node" name="create-new-node">
        <label for="name">name<input type="text" name="name" id="name" autofocus></label>
        <label for="version_id">version_id<input type="text" name="version_id" id="version_id"></label>
        <label for="submitter_name">submitter_name<input type="text" name="submitter_name" id="submitter_name"></label>
        <label for="definition">definition<input type="text" name="definition" id="definition"></label>
    </form>
    
    <button class="button" id="cancel">Cancel</button>
    <button class="button" id="save">Save</button>
</div>