<div class="create-node-form-container">
    
    <i class="far fa-lg fa-times-circle modal-close" onclick="closeModal()"></i>
    
    <h2>Create New Node</h2>
    
    <form id="create-new-node" name="create-new-node">
        
        <label for="name">name<input type="text" name="name" id="name" autofocus></label>
        
        <label for="version_id">version_id<input type="text" name="version_id" id="version_id"></label>
        
        <label for="submitter_name">submitter_name<input type="text" name="submitter_name" id="submitter_name"></label>
        
        <label for="definition">definition<input type="text" name="definition" id="definition"></label>
        
        <label for="nillable_flag">nillable_flag
            <span style="width:50%;text-align:right;"><input type="radio" name="nillable_flag" value="true" id="nillable_flag_true">True
            <input type="radio" name="nillable_flag" value="false" id="nillable_flag_false">False</span>
        </label>
        
        <label for="enumeration_flag">
            Enumeration Flag
            <span>
                True <input type="radio" name="enumeration_flag" value="true" id="enumeration_flag-true">
                False <input type="radio" name="enumeration_flag" value="false" id="enumeration_flag-false">
            </span>
        </label>
        
        <label for="value_data_type">
            Data Type
            <select name="value_data_type" class="value_data_type" id="value_data_type">
                <option></option>
                <option class="value_data_type_option" value="ASCII_Integer">ASCII_Integer</option>
                <option class="value_data_type_option" value="ASCII_Short_String_Collapsed">ASCII_Short_String_Collapsed</option>
            </select>
        </label>
        
        <label for="unit_of_measure_type">
            Unit Type
            <select name="unit_of_measure_type" class="unit_of_measure_type" id="unit_of_measure_type">
                <option></option>
                <option class="unit_of_measure_type_option" value="Units_of_None" selected>Units_of_None</option>
            </select>
        </label>

    </form>

    
    <button id="cancel">Cancel</button>
    <button id="save">Save</button>
</div>
