<div class="create-node-form-container">
    
    <i class="far fa-lg fa-times-circle modal-close" onclick="closeModal()"></i>
    
    <h2>Create New Node</h2>
    
    <form id="create_new_node" class="form" disabled>
        
        <label for="namespace">
            Namespace
        </label>
        <input type="text" name="namespace" id="namespace">

        <label for="name">
            Name
        </label>
        <input type="text" name="name" id="name" autofocus>
        
        <label for="version_id">
            Version ID
        </label>
        <input type="text" name="version_id" id="version_id">
        
        <label for="reference_type">Reference Type</label>
        <span>
            Class
            <input type="radio" name="reference_type" id="component_of" value="component_of">
            Attribute
            <input type="radio" name="reference_type" id="attribute_of" value="attribute_of">
        </span>

        <label for="minimum_occurrences">
            Minimum Occurrences
        </label>
        <input type="text" name="minimum_occurrences" id="minimum_occurrences">

        <label for="maximum_occurrences">
            Maximum Occurrences
        </label>
        <input type="text" name="maximum_occurrences" id="maximum_occurrences">
        
        <label for="submitter_name">
            Submitter Name
        </label>
        <input type="text" name="submitter_name" id="submitter_name">
        
        <label for="definition">
            Definition
        </label>
        <input type="text" name="definition" id="definition">
        
        <div id="show_attribute_of">
            
            <label for="nillable_flag">
                Nillable Flag
            </label>
            <span>
                True <input type="radio" name="nillable_flag" value="true" id="nillable_flag_true">
                False <input type="radio" name="nillable_flag" value="false" id="nillable_flag_false">
            </span>
            
            <label for="enumeration_flag">
                Enumeration Flag
            </label>
            <span>
                True <input type="radio" name="enumeration_flag" value="true" id="enumeration_flag-true">
                False <input type="radio" name="enumeration_flag" value="false" id="enumeration_flag-false">
            </span>
            
            <label for="unit_of_measure_type">
                Unit Type
            </label>
            <select name="unit_of_measure_type" class="unit_of_measure_type" id="unit_of_measure_type">
                <option class="unit_of_measure_type_option" value="Units_of_None" selected>Units_of_None</option>
            </select>
            
            <label for="value_data_type">
                Data Type
            </label>
            <select name="value_data_type" class="value_data_type" id="value_data_type">
                <option class="value_data_type_option" value="ASCII_Integer">ASCII_Integer</option>
                <option class="value_data_type_option" value="ASCII_Short_String_Collapsed">ASCII_Short_String_Collapsed</option>
            </select>
            
            <div id="show_integer">
                
                <label for="minimum_value">
                    Minimum Value
                </label>
                <input type="number" id="minimum_value" name="minimum_value">
                
                <label for="maximum_value">
                    Maximum Value
                </label>
                <input type="number" id="maximum_value" name="maximum_value">
                
            </div>
            
            <div id="show_string">
                
                <label for="minimum_characters">
                    Minimum Characters
                </label>
                <input type="number" id="minimum_characters" name="minimum_characters" value="0">
                
                <label for="maximum_characters">
                    Maximum Characters
                </label>
                <input type="number" id="maximum_characters" name="maximum_characters" value="255">
                
            </div>
        
        </div>
        
        <div class="submit-row">
            <button class="button" id="cancel">Cancel</button>
            <button class="button" id="save">Save</button>
        </div>
        
    </form>
    
</div>
