
<div class="modal">

    <h3 class="title">Define New Class or Attribute</h3>

    <div class="tabs-container">
        <a
        class="tab"
        ng-class="{active:newNode.reference_type == 'component_of'}"
        ng-click="newNode.reference_type = 'component_of'">
        Class</a>
        <a
        class="tab"
        ng-hide="newLddMode"
        ng-class="{active:newNode.reference_type == 'attribute_of'}"
        ng-click="newNode.reference_type = 'attribute_of'">
        Attribute</a>
    </div>

    <ld3-new-element></ld3-new-element>

</div>
