
<div class="modal">

    <h2>Define New Class or Attribute</h2>

    <div class="tabs-container">
        <a
        class="tab"
        ng-class="{active:newNode.reference_type == 'component_of'}"
        ng-click="newNode.reference_type = 'component_of'">
        Class</a>
        <a
        class="tab"
        ng-hide="newLddMode"
        ng-class="{active:newNode.reference_type == 'attribute_of'}"
        ng-click="newNode.reference_type = 'attribute_of'">
        Attribute</a>
    </div>

    <ld3-new-class ng-show="newNode.reference_type == 'component_of'"></ld3-new-class>
    <ld3-new-attribute ng-show="newNode.reference_type == 'attribute_of'"></ld3-new-attribute>

</div>
