<div ng-show="data.activeNode.children && data.activeNode.children.length">
    <hr>
    <h3>Children ({{ data.activeNode.children.length }})</h3>
    <!-- <h4 style="text-align:right;">Classes</h4> -->
    <div ng-repeat="child in data.activeNode.children | classes" class="active-child" data-node-name="{{ child.lid }}">
        <h3 class="active-child-clickable clickable">{{ child.lid }}</h3><i class="fas fa-unlink" alt="Unlink" title="Unlink" ng-click="ld3.removeLink(child.lid)"></i>
    </div>
    <!-- <h4 style="text-align:right;">Attributes</h4> -->
    <div ng-repeat="child in data.activeNode.children | attributes" class="active-child" data-node-name="{{ child.lid }}">
        <h3 class="active-child-clickable clickable">{{ child.lid }}</h3><i class="fas fa-unlink" alt="Unlink" title="Unlink" ng-click="ld3.removeLink(child.lid)"></i>
    </div>
</div>
