<div id="menubar">

    <h2>LD3 Tool</h2>

    <hr/>

    <span class="details-header">
        <a
            class="show-ldd-details"
            ng-show="!ld3.isVisible.lddDetails"
            ng-click="ld3.isVisible.lddDetails = !ld3.isVisible.lddDetails">
            Show Details</a>
        <a
            class="show-ldd-details"
            ng-show="ld3.isVisible.lddDetails"
            ng-click="ld3.isVisible.lddDetails = !ld3.isVisible.lddDetails">
            Hide Details</a>
        <a ng-click="ld3.editLdd()">Edit Details</a>
    </span>
    <h3 class="key">LDD Name</h3>
    <h3 class="value">{{ ldd.original.name }}</h3>

    <div ng-show="ld3.isVisible.lddDetails">
        <h3 class="key">LDD Version</h3>
        <h3 class="value">{{ ldd.original.ldd_version_id }}</h3>

        <h3 class="key">Full Name</h3>
        <h3 class="value">{{ ldd.original.full_name }}</h3>

        <h3 class="key">Steward</h3>
        <h3 class="value">{{ ldd.original.steward_id }}</h3>

        <h3 class="key">Namespace</h3>
        <h3 class="value">{{ ldd.original.namespace_id }}</h3>

        <h3 class="key">PDS4 IM Version</h3>
        <h3 class="value">{{ ldd.original.pds4_im_version }}</h3>

        <h3 class="key">Comment</h3>
        <h3 class="value">{{ ldd.original.comment }}</h3>
    </div>

    <hr/>

    <ld3-active-node ng-show="data.activeNode"></ld3-active-node>

    <ld3-active-node-children children="data.activeNode.children"></ld3-active-node-children>
    <ld3-active-node-parents parents="data.activeNode.parents"></ld3-active-node-parents>

</div>
