<form class="modal form">

    <h3 class="title">Edit Attribute</h3>

    <label for="name">Attribute Name <ld3-core-model-link lid="https://pds.jpl.nasa.gov/datastandards/documents/im/v1/index_1A00.html#attribute_pds_dd_attribute_pds_name"></ld3-core-model-link></label>
    <input type="text" name="name" id="name" ng-model="modifiedNode['name'][0]" disabled>

    <label for="namespace_id">Namespace</label>
    <input type="text" name="namespace_id" id="namespace_id" ng-model="modifiedNode['namespace_id'][0]" disabled>

    <label for="version_id">Version <ld3-core-model-link lid="https://pds.jpl.nasa.gov/datastandards/documents/im/v1/index_1A00.html#attribute_pds_dd_attribute_pds_version_id"></ld3-core-model-link></label>
    <input type="text" class="xs" name="version_id" id="version_id" ng-model="modifiedNode['version_id'][0]">

    <label for="submitter_name">Submitter Name <ld3-core-model-link lid="https://pds.jpl.nasa.gov/datastandards/documents/im/v1/index_1A00.html#attribute_pds_dd_attribute_pds_submitter_name"></ld3-core-model-link></label>
    <input type="text" name="submitter_name" id="submitter_name" ng-model="modifiedNode['submitter_name'][0]">

    <label for="definition">Definition <ld3-core-model-link lid="https://pds.jpl.nasa.gov/datastandards/documents/im/v1/index_1A00.html#attribute_pds_dd_attribute_pds_definition"></ld3-core-model-link></label>
    <textarea name="definition" id="definition" ng-model="modifiedNode['definition'][0]"></textarea>

    <div class="submit-row">
        <button class="button-choice" ng-click="modal.hide()">Cancel</button>
        <button class="button-choice positive" ng-click="ld3.modifyAttribute()">Save</button>
    </div>

</form>
