<form class="form">

    <label for="name">Attribute Name</label>
    <p class="error" ng-show="errors.name">{{ errors.name }}</p>
    <input type="text" name="name" id="name" ng-model="newNode.name">

    <label for="namespace_id">Namespace</label>
    <p class="error" ng-show="errors.namespace_id">{{ errors.namespace_id }}</p>
    <input type="text" name="namespace_id" id="namespace_id" ng-model="newNode.namespace_id">

    <label for="version_id">Version</label>
    <p class="error" ng-show="errors.version_id">{{ errors.version_id }}</p>
    <input type="text" name="version_id" id="version_id" ng-model="newNode.version_id">

    <!-- <label for="local_identifier">Local Identifier</label>
    <p class="error" ng-show="errors.local_identifier">{{ errors.local_identifier }}</p>
    <input type="text" name="local_identifier" id="local_identifier" ng-model="newNode.local_identifier"> -->

    <label for="submitter_name">Submitter Name</label>
    <p class="error" ng-show="errors.submitter_name">{{ errors.submitter_name }}</p>
    <input type="text" name="submitter_name" id="submitter_name" ng-model="newNode.submitter_name">

    <label for="definition">Definition</label>
    <p class="error" ng-show="errors.definition">{{ errors.definition }}</p>
    <textarea name="definition" id="definition" ng-model="newNode.definition"></textarea>

    <label for="minimum_occurrences">Minimum Occurrences</label>
    <p class="error" ng-show="errors.minimum_occurrences">{{ errors.minimum_occurrences }}</p>
    <input type="text" name="minimum_occurrences" id="minimum_occurrences" ng-model="newNode.minimum_occurrences">

    <label for="maximum_occurrences">Maximum Occurrences</label>
    <p class="error" ng-show="errors.maximum_occurrences">{{ errors.maximum_occurrences }}</p>
    <input type="text" name="maximum_occurrences" id="maximum_occurrences" ng-model="newNode.maximum_occurrences">

    <!-- <label for="comment">Comment</label>
    <input type="text" name="comment" id="comment" ng-model="newNode.comment"> -->

    <label for="nillable_flag">Nillable Flag</label>
    <p class="error" ng-show="errors.nillable_flag">{{ errors.nillable_flag }}</p>
    <span>
        <input type="radio" name="nillable_flag" id="nillable_flag" ng-value="true" ng-model="newNode.nillable_flag">
        True
    </span>
    <span>
        <input type="radio" name="nillable_flag" id="nillable_flag" ng-value="false" ng-model="newNode.nillable_flag">
        False
    </span>

    <label for="enumeration_flag">Enumeration Flag</label>
    <p class="error" ng-show="errors.enumeration_flag">{{ errors.enumeration_flag }}</p>
    <span>
        <input type="radio" name="enumeration_flag" id="enumeration_flag" ng-value="true" ng-model="newNode.enumeration_flag">
        True
    </span>
    <span>
        <input type="radio" name="enumeration_flag" id="enumeration_flag" ng-value="false" ng-model="newNode.enumeration_flag">
        False
    </span>

    <label for="value_data_type">Data Type</label>
    <p class="error" ng-show="errors.value_data_type">{{ errors.value_data_type }}</p>
    <select name="value_data_type" id="value_data_type" ng-model="newNode.value_data_type">
        <option value="ASCII_AnyURI">ASCII_AnyURI</option>
        <option value="ASCII_Boolean">ASCII_Boolean</option>
        <option value="ASCII_DOI">ASCII_DOI</option>
        <option value="ASCII_Date_DOY">ASCII_Date_DOY</option>
        <option value="ASCII_Date_Time_DOY">ASCII_Date_Time_DOY</option>
        <option value="ASCII_Date_Time_DOY_UTC">ASCII_Date_Time_DOY_UTC</option>
        <option value="ASCII_Date_Time_YMD">ASCII_Date_Time_YMD</option>
        <option value="ASCII_Date_Time_YMD_UTC">ASCII_Date_Time_YMD_UTC</option>
        <option value="ASCII_Date_YMD">ASCII_Date_YMD</option>
        <option value="ASCII_Directory_Path_Name">ASCII_Directory_Path_Name</option>
        <option value="ASCII_File_Name">ASCII_File_Name</option>
        <option value="ASCII_File_Specification_Name">ASCII_File_Specification_Name</option>
        <option value="ASCII_Integer">ASCII_Integer</option>
        <option value="ASCII_LID">ASCII_LID</option>
        <option value="ASCII_LIDVID">ASCII_LIDVID</option>
        <option value="ASCII_LIDVID_LID">ASCII_LIDVID_LID</option>
        <option value="ASCII_MD5_Checksum">ASCII_MD5_Checksum</option>
        <option value="ASCII_NonNegative_Integer">ASCII_NonNegative_Integer</option>
        <option value="ASCII_Numeric_Base16">ASCII_Numeric_Base16</option>
        <option value="ASCII_Numeric_Base2">ASCII_Numeric_Base2</option>
        <option value="ASCII_Numeric_Base8">ASCII_Numeric_Base8</option>
        <option value="ASCII_Real" default>ASCII_Real</option>
        <option value="ASCII_Short_String_Collapsed">ASCII_Short_String_Collapsed</option>
        <option value="ASCII_Short_String_Preserved">ASCII_Short_String_Preserved</option>
        <option value="ASCII_Time">ASCII_Time</option>
        <option value="ASCII_VID">ASCII_VID</option>
        <option value="UTF8_Short_String_Collapsed">UTF8_Short_String_Collapsed</option>
        <option value="UTF8_Short_String_Preserved">UTF8_Short_String_Preserved</option>
        <option value="UTF8_Text_Preserved">UTF8_Text_Preserved</option>
        <option value="Vector_Cartesian_3">Vector_Cartesian_3</option>
        <option value="Vector_Cartesian_3_Acceleration">Vector_Cartesian_3_Acceleration</option>
        <option value="Vector_Cartesian_3_Pointing">Vector_Cartesian_3_Pointing</option>
        <option value="Vector_Cartesian_3_Position">Vector_Cartesian_3_Position</option>
        <option value="Vector_Cartesian_3_Velocity">Vector_Cartesian_3_Velocity</option>
    </select>

    <label for="unit_of_measure_type">Unit Type</label>
    <p class="error" ng-show="errors.unit_of_measure_type">{{ errors.unit_of_measure_type }}</p>
    <select name="unit_of_measure_type" id="unit_of_measure_type" ng-model="newNode.unit_of_measure_type">
        <option value="Units_of_Acceleration">Acceleration</option>
        <option value="Units_of_Amount_Of_Substance">Amount_Of_Substance</option>
        <option value="Units_of_Angle">Angle</option>
        <option value="Units_of_Angular_Velocity">Angular_Velocity</option>
        <option value="Units_of_Area">Area</option>
        <option value="Units_of_Current">Current</option>
        <option value="Units_of_Energy">Energy</option>
        <option value="Units_of_Frame_Rate">Frame_Rate</option>
        <option value="Units_of_Frequency">Frequency</option>
        <option value="Units_of_Length">Length</option>
        <option value="Units_of_Map_Scale">Map_Scale</option>
        <option value="Units_of_Mass">Mass</option>
        <option value="Units_of_Misc">Misc</option>
        <option value="Units_of_None" default>None</option>
        <option value="Units_of_Optical_Path_Length">Optical_Path_Length</option>
        <option value="Units_of_Pixel_Resolution_Angular">Pixel_Resolution_Angular</option>
        <option value="Units_of_Pixel_Resolution_Linear">Pixel_Resolution_Linear</option>
        <option value="Units_of_Pixel_Scale_Angular">Pixel_Scale_Angular</option>
        <option value="Units_of_Pixel_Scale_Linear">Pixel_Scale_Linear</option>
        <option value="Units_of_Pressure">Pressure</option>
        <option value="Units_of_Radiance">Radiance</option>
        <option value="Units_of_Rates">Rates</option>
        <option value="Units_of_Solid_Angle">Solid_Angle</option>
        <option value="Units_of_Spectral_Irradiance">Spectral_Irradiance</option>
        <option value="Units_of_Spectral_Radiance">Spectral_Radiance</option>
        <option value="Units_of_Storage">Storage</option>
        <option value="Units_of_Temperature">Temperature</option>
        <option value="Units_of_Time">Time</option>
        <option value="Units_of_Velocity">Velocity</option>
        <option value="Units_of_Voltage">Voltage</option>
        <option value="Units_of_Volume">Volume</option>
        <option value="Units_of_Wavenumber">Wavenumber</option>
    </select>

    <div class="submit-row">
        <div class="button-choice" ng-click="modal.close()">Cancel</div>
        <div class="button-choice positive" ng-click="ld3.addAttribute()">Save</div>
    </div>

</form>
