<form class="form">

    <label for="name">Class Name <ld3-core-model-link lid="https://pds.jpl.nasa.gov/datastandards/documents/im/v1/index_1A00.html#attribute_pds_dd_class_pds_name"></ld3-core-model-link></label>
    <p class="error" ng-show="errors.name">{{ errors.name }}</p>
    <input type="text" name="name" id="name" ng-model="newNode.name">

    <label for="namespace_id">Namespace</label>
    <p class="error" ng-show="errors.namespace_id">{{ errors.namespace_id }}</p>
    <input type="text" name="namespace_id" id="namespace_id" ng-model="newNode.namespace_id">

    <label for="version_id">Version <ld3-core-model-link lid="https://pds.jpl.nasa.gov/datastandards/documents/im/v1/index_1A00.html#attribute_pds_dd_class_pds_version_id"></ld3-core-model-link></label>
    <p class="error" ng-show="errors.version_id">{{ errors.version_id }}</p>
    <input type="text" name="version_id" id="version_id" ng-model="newNode.version_id">

    <label for="submitter_name">Submitter Name <ld3-core-model-link lid="https://pds.jpl.nasa.gov/datastandards/documents/im/v1/index_1A00.html#attribute_pds_dd_class_pds_submitter_name"></ld3-core-model-link></label>
    <p class="error" ng-show="errors.submitter_name">{{ errors.submitter_name }}</p>
    <input type="text" name="submitter_name" id="submitter_name" ng-model="newNode.submitter_name">

    <label for="definition">Definition <ld3-core-model-link lid="https://pds.jpl.nasa.gov/datastandards/documents/im/v1/index_1A00.html#attribute_pds_dd_class_pds_definition"></ld3-core-model-link></label>
    <p class="error" ng-show="errors.definition">{{ errors.definition }}</p>
    <textarea name="definition" id="definition" ng-model="newNode.definition"></textarea>

    <label ng-hide="data.newLddMode" for="minimum_occurrences">Minimum Occurrences <ld3-core-model-link lid="https://pds.jpl.nasa.gov/datastandards/documents/im/v1/index_1A00.html#attribute_pds_dd_association_pds_minimum_occurrences"></ld3-core-model-link></label>
    <p ng-hide="data.newLddMode" class="error" ng-show="errors.minimum_occurrences">{{ errors.minimum_occurrences }}</p>
    <input ng-hide="data.newLddMode" type="text" name="minimum_occurrences" id="minimum_occurrences" ng-model="newNode.minimum_occurrences">

    <label ng-hide="data.newLddMode" for="maximum_occurrences">Maximum Occurrences <ld3-core-model-link lid="https://pds.jpl.nasa.gov/datastandards/documents/im/v1/index_1A00.html#attribute_pds_dd_association_pds_maximum_occurrences"></ld3-core-model-link></label>
    <p ng-hide="data.newLddMode" class="error" ng-show="errors.maximum_occurrences">{{ errors.maximum_occurrences }}</p>
    <input ng-hide="data.newLddMode" type="text" name="maximum_occurrences" id="maximum_occurrences" ng-model="newNode.maximum_occurrences">

    <div class="submit-row">
        <div class="ghost" ng-show="data.newLddMode"></div>
        <button class="button-choice" ng-click="modal.close()" ng-hide="data.newLddMode">Cancel</button>
        <button class="button-choice positive" ng-click="ld3.addClass()">Save</button>
    </div>

</form>
