<form name="editlddform" id="editlddform">
    
    <label for="name">
        Name
        <input type="text" name="name" id="name" autofocus>
    </label>
    
    <label for="ldd_version_id">
        LDD Version
        <input type="text" name="ldd_version_id" id="ldd_version_id">
    </label>
    
    <label for="full_name">
        Full Name
        <input type="text" name="full_name" id="full_name">
    </label>
    
    <label for="steward_id">
        Steward ID
        <input type="text" name="steward_id" id="steward_id">
    </label>
    
    <label for="namespace_id">
        Namespace
        <input type="text" name="namespace_id" id="namespace_id">
    </label>
    
    <label for="comment">
        Comment
        <textarea name="comment" id="comment"></textarea>
    </label>
    
</form>

<input name="submit" id="edit-ldd-cancel" type="submit" value="Cancel" class="decline">
<input name="submit" id="edit-ldd-save" type="submit" value="Save" class="confirm">