<!-- Active Node Details -->
<h2>Edit Element</h2>

<form name="editnodeform" class="form" id="editnodeform">
    <label for="name-editnode">
        Name
        <input type="text" class="value" id="name-editnode" disabled>
    </label>

    <label for="identifier_reference-editnode">
        Identifier Reference
        <input type="text" class="value" id="identifier_reference-editnode" disabled>
    </label>

    <label for="version_id-editnode">
        Version
        <input type="text" class="value" id="version_id-editnode">
    </label>
    
    <label for="submitter_name-editnode">
        Submitter Name
        <input type="text" class="value" id="submitter_name-editnode">
    </label>

    <label for="definition-editnode">
        Definition
        <textarea class="value" id="definition-editnode"></textarea>
    </label>
    
    <label for="enumeration_flag">
        Enumeration Flag
        <span>
            <input type="radio" name="enumeration_flag" value="true" id="enumeration_flag-true">True
            <input type="radio" name="enumeration_flag" value="false" id="enumeration_flag-false">False
        </span>
    </label>
    
    <label for="value_data_type-editnode">
        Data Type
        <select name="value_data_type-editnode" class="value_data_type" id="value_data_type-editnode">
            <option></option>
            <option class="value_data_type_option" value="ASCII_Integer">ASCII_Integer</option>
            <option class="value_data_type_option" value="ASCII_Short_String_Collapsed">ASCII_Short_String_Collapsed</option>
        </select>
    </label>
    
    <label for="unit_of_measure_type-editnode">
        Unit Type
        <select name="unit_of_measure_type-editnode" class="unit_of_measure_type" id="unit_of_measure_type-editnode">
            <option></option>
            <option class="unit_of_measure_type_option" value="Units_of_None" selected>Units_of_None</option>
        </select>
    </label>
    
    <div class="submit-row">
        <button id="editnode-cancel" class="button decline">Cancel</button>
        <button id="editnode-save" class="button">Save</button>
    </div>
    
</form>