<div id="toolbar">
    
    <div class="toolgroup toolgroup-row">
        <!-- LD3 Logo -->
        <img src="./img/logo.png" alt="LD3 Tool" title="LD3 Tool" class="logo">
        
        <div class="ldd-details">
            <div class="ldd-details-header">
                <h6>LDD Details</h6>
            </div>
            
            <section class="ldd-details-body">
                
                <span class="toolgroup-info">
                    <p class="key key-sm">Name</p>
                    <h4 class="value">{{ dictionary.name }}</h4>
                </span>
                
                <div class="linebreak vertical"></div>
                
                <span class="toolgroup-info">
                    <p class="key key-sm">Version</p>
                    <h4 class="value">{{ dictionary.ldd_version_id }}</h4>
                </span>
                
                <div class="linebreak vertical"></div>
                
                <span class="toolgroup-info">
                    <p class="key key-sm">Namespace</p>
                    <h4 class="value">{{ dictionary.namespace_id }}</h4>
                </span>
                
                <div class="linebreak vertical"></div>
                
                <span class="toolgroup-info">
                    <p class="key key-sm">PDS4 IM Version</p>
                    <h4 class="value">{{ dictionary.pds4_im_version }}</h4>
                </span>
                
            </section>
            
        </div>
        
    </div>
    
    <div class="toolgroup toolgroup-row" ng-hide="true">
        <p class="toolgroup-header">Tools</p>
        <!-- ADD NODE -->
        <i class="fas fa-plus fa-lg" ng-show="ld3.isEnabled.addNode()" ng-click="ld3.openAddNodeModal()" title="Create a new node"></i>
        <i class="fas fa-plus fa-lg disabled" ng-show="!ld3.isEnabled.addNode()" title="Create a new node [disabled]"></i>
        <!-- ADD LINK -->
        <i class="fas fa-link" ng-show="ld3.isEnabled.addLink()" ng-click="ld3.toggleLinkMode()" title="Create a new link"></i>
        <i class="fas fa-link disabled" ng-show="!ld3.isEnabled.addLink()" title="Create a new link [disabled]"></i>
        <!-- UNDO -->
        <i class="fas fa-undo" ng-click="ld3.undo()" ng-show="ld3.showUndo()"></i>
        <i class="fas fa-undo disabled" ng-show="!ld3.showUndo()"></i>
        <!-- REDO -->
        <i class="fas fa-redo" ng-click="ld3.redo()" ng-show="data.historyIdx > 0"></i>
        <i class="fas fa-redo disabled" ng-show="data.historyIdx == 0"></i>
    </div>
    
    <div class="toolgroup toolgroup-download" ng-click="ld3.download()">
        <button class="button button">Download LDD</button>
    </div>
</div>
