<h3 class="key">LDD Name <a id="toggle-ldd">Show</a></h3>
<h3 class="value" id="name-toolbar"></h3>

<div id="show-and-hide">
    <h3 class="key">LDD Version</h3>
    <h3 class="value" id="ldd_version_id-toolbar"></h3>
    
    <h3 class="key">Full Name</h3>
    <h3 class="value" id="full_name-toolbar"></h3>
    
    <h3 class="key">Steward ID</h3>
    <h3 class="value" id="steward_id-toolbar"></h3>
    
    <h3 class="key">Namespace ID</h3>
    <h3 class="value" id="namespace_id-toolbar"></h3>
    
    <h3 class="key">PDS4 IM Version</h3>
    <h3 class="value" id="pds4_im_version-toolbar"></h3>
    
    <h3 class="key">Comment</h3>
    <h3 class="value" id="comment-toolbar"></h3>
</div>
