<div id="toolbar">
    
    <div class="toolgroup flex-row">
        <!-- LD3 Logo -->
        <img src="./img/logo.png" alt="LD3 Tool" title="LD3 Tool" class="logo">
        
        <div class="ldd-details">
            <div class="ldd-details-header">
                <button class="button button-outline" ng-click="modifyLdd()">LDD Details</button>
                <button class="button button-outline" ng-click="modifyLddRules()">LDD Rules</button>
            </div>
            
            <div class="linebreak no-margin"></div>
            
            <section class="ldd-details-body">
                
                <span class="toolgroup-info">
                    <p class="key key-sm">Name</p>
                    <h4 class="value">{{ dictionary.name }}</h4>
                </span>
                
                <div class="linebreak vertical"></div>
                
                <span class="toolgroup-info">
                    <p class="key key-sm">Version</p>
                    <h4 class="value">{{ dictionary.ldd_version_id }}</h4>
                </span>
                
                <div class="linebreak vertical"></div>
                
                <span class="toolgroup-info">
                    <p class="key key-sm">Namespace</p>
                    <h4 class="value">{{ dictionary.namespace_id }}</h4>
                </span>
                
                <div class="linebreak vertical"></div>
                
                <span class="toolgroup-info">
                    <p class="key key-sm">PDS4 IM Version</p>
                    <h4 class="value">{{ dictionary.pds4_im_version }}</h4>
                </span>
                
            </section>
            
        </div>
    </div>
    
    <div class="toolgroup flex-row">
        
        <!-- UNDO/REDO buttons -->
        <div class="toolgroup-buttons flex-col">
            <button class="button button-clear disabled" ng-show="!undo.show()">Undo</button>
            <button class="button button-outline" ng-show="undo.show()" ng-click="undo.do()">Undo</button>
            
            <button class="button button-clear disabled" ng-show="!redo.show()">Redo</button>
            <button class="button button-outline" ng-show="redo.show()" ng-click="redo.do()">Redo</button>
        </div>
        
        <!-- DOWNLOAD buttons -->
        <div class="toolgroup-buttons flex-col">
            <button class="button" ng-click="downloadLdd()"><i class="fas fa-lg fa-file-download" style="color:white"></i> Ingest LDD</button>
            <button class="button" ng-click="lddtool()"><i class="fas fa-lg fa-file-download" style="color:white"></i> LDD Files</button>
        </div>
        
    </div>
</div>
