<div id="tools">
    <div class="toolgroup">
        <i class="fas fa-plus fa-lg disabled" id="create-node" tilte="Create a new node [disabled]"></i>
        <i class="fas fa-link enabled" id="create-link" title="Create a new link"></i>
    </div>
    <div class="toolgroup">
        <i class="far fa-arrow-alt-circle-down fa-lg disabled" id="download" title="Download Current Ingest_LDD File [disabled]"></i>
        <!-- <i class="fas fa-undo-alt fa-lg disabled" id="startover" title="Start Over [disabled]"></i> -->
    </div>
</div>